{% extends 'ecommerceapp/layouts/main.html' %}
{% block title %}
 Registration | ShopKart
 {% endblock title %}
{% block content %}
    
        <section class="bg-light py-4 my-5">
            <div class="container-md">
                <div class="row">
                    <div class="col-12">
                        <h4 class="mb-3">Catagories</h4>
                        <hr style="border-color: #b8bfc2;">
                        {% include 'ecommerceapp/inc/message.html' %}
                    </div>
                </div>
                <div class="row">
                    {% for item in catagory %}
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                        <div class="card my-3">
                            <img src="{{item.image.url}}" height="200px"  class="card-image-top rounded" alt="catagories">
                            <a href="{% url 'collections' item.name %}">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">{{item.name}}</h5>
                                    <p class="card-text text-dark">{{item.description}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>  
            </div>
        </section>
   
{% endblock content %}