{% extends 'ecommerceapp/layouts/main.html' %}
{% block title %}
 ShopKart | Online Shopping
 {% endblock title %}
{% block content %}
{% include 'ecommerceapp/inc/slider.html' %}
<div class="container-md" style="margin-top: 70px;">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3">Latest Offers</h4>
            <hr style="border-color: #b8bfc2;">
        </div>
    </div>
    <div class="row">
        {% for item in page_obj %}
        <div class="col-6 col-sm-4 col-md-4 col-lg-3">
            <div class="card my-3">
                <img src="{{item.product_image.url}}" height="200px"  class="card-image-top rounded" alt="catagories">
                <a href="{% url 'product_details' item.category.name item.name %}">
                    {% if item.trending %}
                        <div class="card-img-overlay">
                            <button class="btn btn-warning btn-sm float-end">hot</button>
                        </div>
                        {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-primary">{{item.name}}</h5>
                    <p class="card-text">
                        <span class="float-start old_price"><s>Rs.{{item.original_price | stringformat:'d'}}</s></span>
                        <span class="float-end new_price">Rs.{{item.selling_price | stringformat:'d'}}</span>
                    </p>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div> 
    <div class="pagination d-flex justify-content-center align-items-center text-center my-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-sm btn-secondary">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-primary">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-success">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-sm btn-warning">last &raquo;</a>
            {% endif %}
        </span>
    </div>      
    
</div>
{% endblock content %}